body {
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
	margin-bottom: 30px;
}

#game-area {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.square {
	width: 60px;
	height: 60px;
	background-color: #4CAF50;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
	animation: square-animation 1s infinite;
}

@keyframes square-animation {
	0% {
		background-color: #4CAF50;
	}
	50% {
		background-color: #fff;
	}
	100% {
		background-color: #4CAF50;
	}
}
